{% extends 'layouts.html' %}

{% block content %}
    <h1>about page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eius fugit id ipsa minima numquam reiciendis rem similique temporibus vitae. Aperiam architecto asperiores atque autem corporis dicta doloribus ducimus eligendi excepturi, explicabo illo impedit laboriosam maxime nulla obcaecati pariatur perspiciatis provident, quibusdam quis ratione similique unde voluptatem voluptatibus. Ab accusamus aliquam animi asperiores aspernatur culpa cum deserunt dicta distinctio dolor dolore, doloremque ex fuga harum illo, iste iusto maiores nemo non nostrum nulla perferendis ratione, reiciendis reprehenderit rerum sit tempore veniam? A ab aliquid animi, aut cupiditate distinctio doloremque earum expedita fuga ipsa, minus natus odit officia quas tempora veritatis?
    </p>
{% endblock %}