{% extends 'layouts.html' %}

{% block content %}

    <ul>
    {% for user in users %}
    <li>{{ user.name }}</li>
    {% endfor %}
    </ul>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consectetur eum illo iure minus porro rerum
        totam! Deserunt distinctio dolor, ea error ex harum minima non, perspiciatis placeat quas voluptatum.
    </p>
    <form action="">
        <input type="text" name="username">
        <button>add</button>
    </form>

    {% comment %}
    <h1>This is comment section</h1>
    {% endcomment %}


{% endblock content %}

